.App_header{
  width:100%;
  align-items:center;
}
.App {
  align-items: center;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
}
.app_image{
  padding-top:80px;
  position:sticky;
  height:500px;
  width:350px;
  
}
.app_images_align{
  display: flex;
  flex-direction: row;
  margin-left:40px;
  padding-left:80px;
  padding-right:50px;
}
.app_login{
  padding-top:30px;
  padding-left:30px;
  
}
.app_login_align{
  width:50%;
  padding-top:50px;
  /* padding-left: 30px; */
  margin-left:30px;
  align-items: center;
}

